.btn{
    border-width: 2px;
}

.header-carousel-item{
 height: 450px;   
}

.bg-cover{
    background-size: cover;
    background-position: center center;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.6);
}

@media(min-width:768px){
    .text-md-dark{
        color: #333333;
    }
}
